.nav a {
    text-decoration: none;
    padding: 10px 15px; 
    color: red; 
    font-weight: bold; 
    font-size: 16px;
}

.nav {
    display: flex;
    justify-content: center; 
    gap: 20px;
}

.title {
    font-family: 'Times New Roman', serif; 
    font-size: 36px; 
    text-transform: uppercase;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #838383;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #a6a5a5;
    font-weight: bold;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: none; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px);
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

body.light-theme {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

body.dark-theme {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

body.light-theme #scrollToTopBtn {
    background-color: black;
    color: white;
}

body.dark-theme #scrollToTopBtn {
    background-color: white;
    color: black;
}

.theme-toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
